<?xml version="1.0" encoding="gb2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="workFlowEngine" class="com.wpr.dispatching.WorkFlowEngine"
		 init-method="init" >
		<property name="processXmlFiles">
			<list>
				<value>workflow/test.xml</value>
			</list>
		</property>
	</bean>
	<bean id="transation" class="com.wpr.test.Transation"></bean>
	
	<bean id="dispatchingService" class="com.wpr.service.DispatchingServiceImpl">
		<property name="workFlowEngine" ref="workFlowEngine"></property>
	</bean>
</beans>